/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-family: 'Alegreya', serif;
}
a:hover { text-decoration: none }
.welcome-area {
    background-image: url(../img/radio.jpg);
     background-color: #ddd;
}
html, body {
    height: 100%;
}

.welcome-area {
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 2;
}

.welcome-area::after {
    position: absolute;
    z-index: 1;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    opacity: .8;
}

.logo img {
    max-width: 70px;   
    padding-right: 10px;
    margin-top: -4px;
}

.logo a {   
    color: #ec4248;
    font-weight: 900;
}
.main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-menu li {
    position: relative;
    display: inline-block;
}

.main-menu li a {
    color: #333;
    padding: 8px 27px;
    display: block;
    border-radius: 20px;
}

.main-menu li.bordered a {
    border: 1px solid;
    color: #EC4248;
}

.logo h4 {
    font-size: 20px;
    margin: 0;
    margin-top: 8px;
}

.header-area {
    padding: 15px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}

.copyright-area {
    background: #3f3c3e;
    font-size: 90%;
    padding: 10px 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 9;
}

.copyright-area, .copyright-area a {
    color: #ddd;
}

.copyright-area ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.copyright-area ul li {
    display: inline-block;
    padding-left: 20px;
}

.copyright-area ul li a {
    position: relative;
    padding: 0 0 4px 0;
}

a {}

.copyright-area ul li a::after {
    position: absolute;
    width: 0;
    left: 50%;
    content: "";
    background: #fff;
    height: 1px;
    bottom: 0;
    transition: .3s;
}

.copyright-area ul li a:hover::after {
    width: 100%;
    left: 0;
}

.hera-area-table {
    display: table;
    height: 100%;
    width: 100%;
}

.hero-area-tablecell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.hero-text {
    font-size: 20px;
    font-weight: 400;
}
.hero-text h1 {
    font-size: 50px;
    font-weight: 900;
}
.email-subscibe-form {
    font-size: 14px;
    margin-top: 30px;
    max-width: 500px;
}

.email-subscibe-form input[type="email"] {
    padding: 15px;
    background: #fff;
    border: none;
    font-weight: 400;
    border-radius: 5px;
    width: 56%;
    margin-right: 2%;
}

button[type="submit"], input[type="submit"] {
    padding: 14px 30px;
    background: #EC4248;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-transform: uppercase;
}

button[type="submit"]:after, input[type="submit"]:after {
    position: absolute;
    height: 100%;
    width: 0;
    left: 50%;
    background: #000;
    content: "";
    top: 0;
    z-index: -1;
    opacity: .2;
    transition: .3s;
}

button[type="submit"]:hover:after, input[type="submit"]:hover:after {
    left: 0;
    width: 100%;
}
.social-icon a {
    color: #333;
    font-size: 20px;
    display: inline-block;
    padding: 0 0 0 10px;
    margin-top: 10px;
}
