
/* Base CSS */

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,900');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-family: 
}
a:hover { text-decoration: none }

.section-padding {
	padding: 100px 0;
}


.section-padding.round-bg {
    position: relative;
    z-index: 1;
}

.section-padding.round-bg::after {

    background-image: url(../img/background.jpg);)
}
.section-padding.round-bg::after {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 450px;
    width: 450px;
    content: "";
    background-size: cover;
    background-position: center;
    z-index: -1;
    border-radius: 50%;
    background-color: #ddd;
    transform: translateX(-50%) translateY(-50%);
}

.single-feature-item {
    position: relative;
    z-index: 1;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: right;
    padding-right: 128px;
    /* margin-left: 50px; */
    margin-right: 75px;
    margin-bottom: 8px;
}

.feature-icon {
    position: absolute;
    right: 0;
    background: #fff;
    height: 120px;
    width: 120px;
    text-align: center;
    padding: 10px;
    border-radius: 50%;
    top: 22px;
    transition: .3s;
}

.feature-icon i {
    border: 1px solid #ddd;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    line-height: 95px;
    font-size: 40px;
}

.single-feature-item h2 {
    font-size: 22px;
    font-weight: 400;
}

.single-feature-item.left-icon .feature-icon {
    left: 0;
    right: auto;
}

.single-feature-item.left-icon {
    text-align: left;
    margin-left: 0;
    padding-left: 135px;
    padding-right: 0;
    margin-left: 75px;
    margin-right: 50px;
}

.single-feature-item.feature-padding-left {
    margin-right: 152px;
}

.single-feature-item.feature-padding-right.left-icon {
    margin-left: 152px;
}

.feature-icon:hover {
    box-shadow: 0 0 20px #333;
}

.section-padding.round-bg::before {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 450px;
    width: 450px;
    content: "";
    background: #3879D9;
    opacity: .5;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
}

.section-padding.round-bg::before {
}