/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    color: #333;
}
body {
    color: #828282;
    font-size: 15px;
    line-height: 1.7;
}
a:hover { text-decoration: none }
/********header**********/
.header-section {
    background: #000000 none repeat scroll 0 0;
    box-shadow: 0 10px 10px #aaa;
    color: #fff;
    height: 70px;
    margin-bottom: 60px;
}
.logo{
    color:#fff;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #fff;
    text-align: center;
}
.nav-section {
    float: right;
}
.nav-section ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.nav-section ul li {
    display: inline-block;
    margin-top: 10px;
    padding: 18px 8px;
}
.nav-section ul li a {
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}
.nav-section ul li a:hover{ color: #29ABE2;}

/******** End of header**********/

section.section-padding {
    padding: 80px 0;
}
.section-title {
    margin-bottom: 60px;
}
.section-title h2::before {
    background: #28aae2 none repeat scroll 0 0;
    border-radius: 10px;
    bottom: 0;
    content: "";
    height: 5px;
    position: absolute;
    width: 56px;
}
.section-title h2 {
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}
.section-title h2::after {
    background: #eeeeec none repeat scroll 0 0;
    border-radius: 10px;
    bottom: 0;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    width: 70px;
    z-index: -1;
}
.single-staff-item img, .owl-carousel .owl-item img {
    border-radius: 50%;
    max-width: 160px;
    width: 160px;
}

.staff-meta {
    color: #b7b7b7;
    font-size: 12px;
    margin-top: 20px;
}
.staff-meta h3 {
    font-size: 20px;
    margin: 0 0 10px;
    text-transform: uppercase;
}

.staff-list .owl-nav div {
    background: #f3f3f3 none repeat scroll 0 0;
    display: inline-block;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    text-align: center;
    transition: all 0.25s ease 0s;
    width: 50px;
}
.staff-list .owl-nav div:hover {
    background: #14adf3 none repeat scroll 0 0;
    color: #fff;
}
.staff-list .owl-nav {
    position: absolute;
    right: 0;
    top: -60px;
}


/********footer**********/
.footer-section{
    box-shadow: 0 -10px 10px 2px #aaa;
    background: #000000 none repeat scroll 0 0;
    color: #fff;
    height: 70px;
    margin-top: 60px;
}
.footer-left ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer-left ul li {
    display: inline-block;
    margin-top: 27px;
}
.footer-left ul li a {
    color: #fff;
    font-weight: 600;
    padding: 12px 5px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    font-size: 14px;
}
.footer-left ul li a:hover{
    color: #29ABE2;	
}
.footer-right p {
    font-size: 16px;
    margin: 24px 0 0;
    text-align: right;
}

/********End of footer**********/