/* Base CSS */

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-family: 'Roboto', sans-serif;
}

a:hover {
    text-decoration: none
}

.listing-bg-1{background-image: url(../img/children-1.jpg)}
.listing-bg-2{background-image: url(../img/children-2.jpg)}
.listing-bg-3{background-image: url(../img/children-3.jpg)}
.listing-bg-4{background-image: url(../img/children-4.jpg)}
.listing-bg-5{background-image: url(../img/children-5.jpg)}
.listing-bg-6{background-image: url(../img/children-6.jpg)}
.listing-bg-7{background-image: url(../img/children-7.jpg)}
.listing-bg-8{background-image: url(../img/children-8.jpg)}
.listing-bg-9{background-image: url(../img/children-9.jpg)}

.section-pading {
    padding: 100px 0;
}

.section-pading.listing-carousel-wrapper {
    overflow-x: hidden;
}

.section-title {
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.section-title h2 {
    font-weight: 400;
    text-transform: capitalize;
}

.section-title span {
    color: red;
}

.single-listing-box {
    background-color: #ddd;
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
    height: 350px;
    position: relative;
    z-index: 1;
}

.listing-hover {
    bottom: 50px;
    color: #ddd;
    font-size: 16px;
    left: 10%;
    position: absolute;
    width: 80%;
}

.single-listing-box::after {
    background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 15%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,1) 85%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 15%,rgba(0,0,0,0.1) 50%,rgba(0,0,0,1) 85%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 15%,rgba(0,0,0,0.1) 50%,rgba(0,0,0,1) 85%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 );
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    z-index: -1;
    border-radius: 5px;
}

.listing-hover h2 {
    color: #fff;
    font-weight: 400;
}

.listing-hover h3 {
    color: #fff;
    font-size: 25px;
    font-weight: 400;
}

.bordered-btn {
    border: 1px solid #fff;
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 25px;
}

/*

.listing-carousel .owl-nav div {
font-size: 40px;
left: -50px;
line-height: 60px;
margin-top: -30px;
opacity: 0.5;
position: absolute;
top: 50%;
}

.listing-carousel .owl-nav div.owl-next {
left: auto;
right: -50px;
}
*/
.listing-carousel .owl-dots {
    text-align: center;
    margin-top: 20px;

}

.listing-carousel .owl-dots div {
    height: 15px;
    width: 15px;
    display: inline-block;
    border: 2px solid #bfbfbf;
    border-radius: 50%;
    margin: 5px;
}
.listing-carousel .owl-dots div.active{
    background: #bfbfbf;

}

.listing-carousel.owl-carousel .owl-stage-outer {
    overflow: inherit;
}

.listing-carousel {
    position: relative;
}

.listing-carousel::before,
.listing-carousel::after {
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: -500%;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 500%;
    z-index: 1;
}

.listing-carousel::after {
    left: auto;
    right: -500%;
}
