/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 400;
}
body {
    font-family: 'Playfair Display', serif;
    color: #626262;
    line-height: 1.7142;
}
a:hover {text-decoration: none }
.blog-meta, .blog-readmore-btn{
    font-family: font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}


.mainmenu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: right;
}
.mainmenu li {
    display: inline-block;
    padding-left: 95px;
}
.mainmenu ul li a {
    color: #626262;
    display: block;
    text-transform: uppercase;
}
.logo {
    padding: 70px 0;
}
.mainmenu {
    padding: 70px 0;
}
.blog-featured-content img {
    width: 100%;
}
.single-blog-content {
    margin-bottom: 120px;
}
.single-blog-content h2 {
    color: #626262;
}
.blog-meta {
    text-transform: uppercase;
}
.blog-meta a {
    color: #b4ac9f;
}

.single-blog-content h2 {
    margin: 20px 0 25px;
}
.blog-readmore-btn {
    color: #b4ac9f;
    margin-top: 10px;
    text-transform: uppercase;
}
.blog-box-content {
    margin-bottom: 30px;
}
.blog-box-content p:last-child {
    margin-bottom: 0;
}
.newsletter-area {
    background: #f0f0f0 none repeat scroll 0 0;
    margin-bottom: 120px;
    padding: 70px 0;
    text-align: center;
}
.newsletter-area h2 {
    margin-bottom: 50px;
}
.newsletter-form {
    border-bottom: 1px solid #000;
    margin: 0 auto;
    max-width: 360px;
    position: relative;
}
.newsletter-form input[type="email"] {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    padding: 5px;
    width: 100%;
}
.newsletter-form button {
    border: medium none;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
}
.load-more-btn {
    border: 1px solid #626262;
    color: #626262;
    display: inline-block;
    padding: 12px 28px;
}
.footer-area {
    background: #f0f0f0 none repeat scroll 0 0;
    margin-top: 90px;
    padding: 35px 0;
}
.footer-area a {
    color: #000;
}
.footer-area ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer-area ul li {
    display: inline-block;
    padding: 0 20px;
}
.footer-area .text-right a {
    margin-left: 15px;
    padding: 5px;
}

.blog-featured-content {
    margin-bottom: 30px;
}
 .blog-featured-content.big-blog-box {
    margin-bottom: 80px;
}

.load-more-btn-wrapper {
    margin-top: -30px;
}


