/* Base CSS */
@font-face {
    font-family: 'AsiyahScript';
    src: url('../fonts/AsiyahScript.eot');
    src: url('../fonts/AsiyahScript.woff2') format('woff2'),
        url('../fonts/AsiyahScript.woff') format('woff'),
        url('../fonts/AsiyahScript.ttf') format('truetype'),
        url('../fonts/AsiyahScript.svg#AsiyahScript') format('svg'),
        url('../fonts/AsiyahScript.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
html, body{
    height: 100%;
}
body {
    font-family: 'Slabo 27px', serif;
}
a:hover { text-decoration: none }
.homepage-slides{
    background-image: url(../img/testimonial-slider-background-black-1.jpg);
    background-size: cover;
    background-position: center;
    background-color: #ddd;
}
.single-carousel-item {
    background-size: cover;
    background-position: center;
    background-color: #ddd;
}
.carousel-bg-1{background-image: url(../img/computer-1.jpeg)}
.carousel-bg-2{background-image: url(../img/computer-2.jpeg)}
.carousel-bg-3{background-image: url(../img/computer-3.jpeg)}
.single-carousel-item {
    height: 100%;
    display: table;
    width: 100%;
}
.carousel-item-tablecell {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    text-align: center;
    font-size: 24px;
}

.carousel-item-tablecell h1 {
    font-size: 150px;
    margin: 0;
    font-family: 'AsiyahScript';
}
.carousel-item-tablecell p {
    font-size: 17px;
}

a.boxed-btn {
    display: inline-block;
    color: #fff;
    background: #D8085E;
    padding: 15px 20px;
    font-family: initial;
    margin-top: 26px;
    -webkit-transition: 1s;
    transition: 1s;
    border-radius: 8px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

a.boxed-btn:hover {
    background: #fff;
    box-shadow: 0 50px 50px #d8085e inset;
}
.homepage-slides, .homepage-slides div {
    height: 100%;
}

.homepage-slides div.carousel-item-tablecell, .homepage-slides div.carousel-item-tablecell div, .homepage-slides div.owl-nav, .homepage-slides div.owl-nav div, .homepage-slides div.owl-dots, .homepage-slides div.owl-dots div{
    height: auto;
}


.homepage-slides .owl-nav div {
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: 35px;
    left: 30px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
}

.homepage-slides .owl-nav div.owl-next {
    left: auto;
    right: 30px;
}

.single-carousel-item {
    position: relative;
    z-index: 1;
}

.single-carousel-item:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: #000;
    z-index: -1;
    height: 100%;
    width: 100%;
    opacity: .3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}
.homepage-slides .owl-dots .owl-dot {
    height: 100px;
    width: 100px;
    display: inline-block;
    margin-right: 20px;
    border: 2px solid #fff;
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="2" /><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter');
    -webkit-filter: blur(2px) grayscale(100%);
    filter: blur(2px) grayscale(100%);
    -webkit-transition: .3s;
    transition: .3s;
}

.homepage-slides .owl-dots .owl-dot img {
    height: 100%;
    width: 100%;
}

.homepage-slides .owl-dots {
    text-align: right;
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.homepage-slides .owl-dots .owl-dot.active {
    -webkit-filter: none;
    filter: none;
    border-color: #D8085E;
}