/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    color: #333;
    font-weight: 700;
}
body {
    color: #787978;
}
a:hover { text-decoration: none }
.section-padding{
    padding: 80px 0;
}
/********header**********/
.header-section {
    background: #000000 none repeat scroll 0 0;
    box-shadow: 0 10px 10px #aaa;
    color: #fff;
    height: 70px;
    margin-bottom: 60px;
}
.logo{
    color:#fff;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #fff;
    text-align: center;
}
.nav-section {
    float: right;
}
.nav-section ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.nav-section ul li {
    display: inline-block;
    margin-top: 10px;
    padding: 18px 8px;
}
.nav-section ul li a {
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}
.nav-section ul li a:hover{ color: #29ABE2;}

/******** End of header**********/



.section-title {
    margin-bottom: 50px;
    text-align: center;
}
.single-pricing-box {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
}
.single-pricing-box:hover{
    border: 1px solid #26A65B;
    box-shadow: 0 0 50px #ccc;
    -webkit-transition: .25s linear;
    transition: .25s linear;
}
.single-pricing-box:hover .pricing-icon img{
    transform: scale(1.2) rotate(360deg);
    -webkit-transform: scale(1.2) rotate(360deg); 
}
.single-pricing-box h3 {
    text-transform: uppercase;
}

.single-pricing-box .pricing-icon {
    margin-bottom: 20px;
}
.pricing-icon img {
    max-width: 60px;
    -webkit-transition: .25s linear;
    transition: .25s linear;
}
.pricing-lists {
    margin-bottom: 30px;
    text-align: left;
}
.pricing-lists ul {
    line-height: 26px;
    list-style: outside none none;
    margin: 0;
    padding: 0 0 0 16px;
}
.pricing-lists ul li{
    -webkit-transition: .25s linear;
    transition: .25s linear;
}
.pricing-lists ul li:hover{
    padding-left: 5px; 
}
.pricing-lists ul li:before{
    font-family: fontAwesome;
    content: "\f00c";
    color: #26A65B;
    padding-right: 10px;
}
.pricing-lists ul li.disable:before{
    content: "\f00d";
    color: #eb3036;
}
.single-pricing-box h3.pricing-count {
    text-transform: none;
}
a.order-btn {
    border: 1px solid #26a65b;
    border-radius: 50px;
    color: #333;
    display: inline-block;
    padding: 10px 30px;
    -webkit-transition: .25s linear;
    transition: .25s linear;
}
a.order-btn:hover{
    background: #26A65B;
    color: #fff;
}
.section-title span {
    color: #26a65b;
}

/********footer**********/
.footer-section{
    box-shadow: 0 -10px 10px 2px #aaa;
    background: #000000 none repeat scroll 0 0;
    color: #fff;
    height: 70px;
    margin-top: 60px;
}
.footer-left ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer-left ul li {
    display: inline-block;
    margin-top: 27px;
}
.footer-left ul li a {
    color: #fff;
    font-weight: 600;
    padding: 12px 5px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    font-size: 14px;
}
.footer-left ul li a:hover{
    color: #29ABE2;	
}
.footer-right p {
    font-size: 16px;
    margin: 24px 0 0;
    text-align: right;
}

/********End of footer**********/
