/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}
a:hover { text-decoration: none }
.header-top{
    background-color: #0b0b0b;
    padding: 13px;
    line-height: 33px;
}
.header-top, .header-top a{
    color: #f5f3f3
}
.header-top i.fa{
    color: #fc721e;
    padding-right: 7px;
}
.social-links{
    display: inline-block;
    padding-left: 20px;
}
.social-links a{
    height: 33px;
    width: 33px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 33px;
}
.social-links a:hover{
    border-color:#fc721e;
    background: #fc721e;
}
.social-links i.fa{
    padding-right: 0;
    color: #fff;
}
.header-top i.fa.fa-phone {
    padding-left: 30px;
}

.site-logo {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid;
    display: inline-block;
    padding: 15px 20px;
    margin-bottom: 0;
}

.mainmenu ul {
    margin: 0;
    padding: 7px;
    list-style: none;
}

.mainmenu ul li {
    display: inline-block;
}

.mainmenu ul li a {
    display: block;
    padding: 10px 17px;
    font-weight: 900;
    color: #333;
    text-transform: uppercase;
    border: 1px solid transparent;
    transition: .3s;
}

.header-area {
    padding: 18px 0;
}

.mainmenu ul li:hover > a {
    border: 1px solid #fc721e;
}


.slide-bg-1{background-image: url(../img/hero-bg.jpg);}

.single-slide-item{
    width: 100%;
    height: 700px;
    background-color: #ddd;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index:2;
    font-size:16px;
    line-height: 2;
    color:#fff;
}
.single-slide-item:after{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content:'';
    background:#050505;
    opacity:.8;
    z-index: -1;
}
.single-slide-item .d-table-cell{
    vertical-align: middle;
}
.single-slide-item h2{
    font-size: 60px;
    margin-bottom: 30px;
}
.boxed-btn{
    display: inline-block;
    background-color: #fc721e;
    color: #fff;
    text-transform: uppercase;
    padding:8px 30px;
    border: 1px solid #fc721e;
    border-radius: 3px;
    transition: .3s;
    font-weight: 700;
}
.boxed-btn.bordered-btn{
    background-color: transparent;
    border-color: #fff;
    transition: .3s;
}
.slide-buttons{
    margin-top: 30px;
}
.slide-buttons a{
    margin-right: 15px;
}
.boxed-btn:hover{
    background-color: transparent;
    color:#fff;
    border-color: #fff;
}
.boxed-btn.bordered-btn:hover{
    background-color:#fc721e;
    border-color:#fc721e;
}


