/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    color: #a9a9a9;
    font-size: 15px;
    line-height: 1.5;
}
a:hover { text-decoration: none }
.section-bg{
    position:relative;
}
/********header**********/
.header-section {
    background: #000000 none repeat scroll 0 0;
    box-shadow: 0 10px 10px #aaa;
    color: #fff;
    height: 70px;
    margin-bottom: 60px;
}
.nav-section {
    float: right;
}
.nav-section ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.nav-section ul li {
    display: inline-block;
    margin-top: 10px;
    padding: 18px 8px;
}
.nav-section ul li a {
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    transition: .2s linear;
}
.nav-section ul li a:hover{ color: #29ABE2;}

/******** End of header**********/
.section-bg:after{
    background: url(../../assets/img/section-bg.jpg);
    backgournd-size: cover;
    height: 100%;
    background-position: center;
    background-color: #ddd;
    width: 48%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
}
.section-title span {
    color: #29abe2;
}
.styled-faq {
    margin-top: 25px;
    min-height: 360px;
}
.styled-faq .panel-default > .panel-heading {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
}
.styled-faq .panel-group .panel {
    border-radius: 0;
}
.styled-faq .panel-default .panel-heading h4 a {
    display: block;
    padding: 10px;
    font-size: 20px;
}
.styled-faq .panel .panel-heading h4 a i.fa {
    float: right;
    font-size: 20px;
    display: none;
}
.styled-faq .panel .panel-heading h4 a[aria-expanded="true"] i.fa.fa-angle-down, .styled-faq .panel .panel-heading h4 a[aria-expanded="false"] i.fa.fa-angle-up{
    display: block;
}

.styled-faq .panel .panel-heading h4 a[aria-expanded="true"], .styled-faq .panel .panel-heading h4 a[aria-expanded="false"] {
    text-decoration:none;
}

.styled-faq .panel .panel-collapse .panel-body{
    border:none;
}
h2.section-title {
    color: #333;
    line-height: 58px;
    margin: 0 0 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.section-padding {
    padding: 50px 0;
}

/********footer**********/
.footer-section{
    box-shadow: 0 -10px 10px 2px #aaa;
    background: #000000 none repeat scroll 0 0;
    color: #fff;
    height: 70px;
    margin-top: 60px;
}
.footer-left ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer-left ul li {
    display: inline-block;
    margin-top: 27px;
}
.footer-left ul li a {
    color: #fff;
    font-weight: 600;
    padding: 12px 5px;
    text-transform: uppercase;
    transition: all 0.2s linear 0s;
    font-size: 14px;
}
.footer-left ul li a:hover{
    color: #29ABE2;	
}
.footer-right p {
    font-size: 16px;
    margin: 24px 0 0;
    text-align: right;
}

/********End of footer**********/
